In [6]:
import pandas as pd
import numpy as np
from numpy import random

In [5]:
datelist = pd.date_range(start='2021-01-01', end = '2022-12-31').tolist()

In [6]:
data = pd.DataFrame(datelist, columns=['Date'])

In [7]:
data.head()

        Date
0 2021-01-01
1 2021-01-02
2 2021-01-03
3 2021-01-04
4 2021-01-05

In [10]:
data['Date']

1

### System ON and OFF Command

In [11]:
data['On_Off_Cmd'] = 'ON'

In [12]:
data.head()

        Date On_Off_Cmd
0 2021-01-01         ON
1 2021-01-02         ON
2 2021-01-03         ON
3 2021-01-04         ON
4 2021-01-05         ON

### Mode(Auto/Manual) Status

In [15]:
data['A/M_Status'] = random.choice(['Auto', 'Manual'], p = [0.6, 0.4])

In [16]:
data.head()

        Date On_Off_Cmd A/M_Status
0 2021-01-01         ON       Auto
1 2021-01-02         ON       Auto
2 2021-01-03         ON       Auto
3 2021-01-04         ON       Auto
4 2021-01-05         ON       Auto

### Trip Status

In [17]:
data['Trip_Status'] = random.choice(['Normal', 'Trip'], p = [0.85, 0.15])

In [18]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status
0 2021-01-01         ON       Auto        Trip
1 2021-01-02         ON       Auto        Trip
2 2021-01-03         ON       Auto        Trip
3 2021-01-04         ON       Auto        Trip
4 2021-01-05         ON       Auto        Trip

### Run Status
-  Equal to the On Off Commnad

In [19]:
data['Run_Status'] = random.choice(['ON', 'OFF'], p = [0.9, 0.1])

In [20]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status Run_Status
0 2021-01-01         ON       Auto        Trip         ON
1 2021-01-02         ON       Auto        Trip         ON
2 2021-01-03         ON       Auto        Trip         ON
3 2021-01-04         ON       Auto        Trip         ON
4 2021-01-05         ON       Auto        Trip         ON

### Schedule Mode

In [21]:
def filter_schedule(run_status):
    if run_status == "ON":
        return random.choice(['Off', 'Scheduled'], p =  [0.8, 0.2])
    else:
        return 'Off'

In [22]:
data['Schedule_Mode'] = data['Run_Status'].apply(filter_schedule)

In [23]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status Run_Status Schedule_Mode
0 2021-01-01         ON       Auto        Trip         ON           Off
1 2021-01-02         ON       Auto        Trip         ON           Off
2 2021-01-03         ON       Auto        Trip         ON           Off
3 2021-01-04         ON       Auto        Trip         ON           Off
4 2021-01-05         ON       Auto        Trip         ON     Scheduled

### Time Schedule
- If the system is scheduled, it can be only scheduled based on time

In [24]:
data['Time_Schedule'] = data['Schedule_Mode']

In [25]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule
0,2021-01-01,ON,Auto,Trip,ON,Off,Off
1,2021-01-02,ON,Auto,Trip,ON,Off,Off
2,2021-01-03,ON,Auto,Trip,ON,Off,Off
3,2021-01-04,ON,Auto,Trip,ON,Off,Off
4,2021-01-05,ON,Auto,Trip,ON,Scheduled,Scheduled

In [7]:
def create_data_FAU():

    def filter_schedule(run_status):
        if run_status == "ON":
            return random.choice(['Off', 'Scheduled'], p =  [0.8, 0.2])
        else:
            return 'Off'
    
    def get_month(date):
        return date.month
    
    def is_weekend(date):
        if date.day_name() == 'Saturday' or date.day_name() == 'Sunday':
            return 1
        else:
            return 0
        
    def get_season(date):
        if date.month in [10,11,12,1,2]:
            return 'Winter'
        elif date.month in [3,4,5,6]:
            return 'Summer'
        elif date.month in [7,8,9]:
            return 'Monsoon'
        
    def climate_prone(location):
        climate_prone = {'Mumbai' : 'Summer', 'Bangalore' : 'Summer','Lucknow' : 'Winter','Bareilly' : 'Winter','Chennai': 'Summer', 'Pune': 'Summer'}
        for loc in climate_prone.keys():
            if location == loc:
                return climate_prone[loc]

    def get_outdoor_temp(season, climate_prone):
        temp = []
        for i in range(len(season)):
            if season[i] == 'Winter' and climate_prone[i] == 'Winter':
                temp.append(random.randint(5, 18))
            elif season[i] == 'Winter' and climate_prone[i] == 'Summer':
                temp.append(random.randint(15, 30))
            if season[i] == 'Summer' and climate_prone[i] == 'Summer':
                temp.append(random.randint(30, 45))
            elif season[i] == 'Summer' and climate_prone[i] == 'Winter':
                temp.append(random.randint(25, 40))
            elif season[i] == 'Monsoon':
                temp.append(random.randint(15, 30))

        return temp
    
    def get_indoor_temp(outdoor_temperature):
        if outdoor_temperature >= 5 and outdoor_temperature <=10:
             return random.randint(10, 18)
        elif outdoor_temperature > 10 and outdoor_temperature <=20:
             return random.randint(18, 25)
        elif outdoor_temperature > 20 and outdoor_temperature <=30:
             return random.randint(20, 25)
        elif outdoor_temperature > 30 and outdoor_temperature <=40:
             return random.randint(22, 27)
        elif outdoor_temperature > 40:
             return random.randint(25, 32)

    def occupancy(is_weekend):
        if is_weekend == 1:
            return random.randint(300, 500)
        elif is_weekend == 0:
            return random.randint(100, 350)
        
    def get_airflow_rate(outdoor_temp, occupancy):
        airflow_rate = []
        for i in range(len(outdoor_temp)):
            if outdoor_temp[i] >= 30 and occupancy[i] >= 400:
                airflow_rate.append(random.randint(2000, 3000))
            elif outdoor_temp[i] >= 30 and (occupancy[i] >= 200 and occupancy[i] <400):
                airflow_rate.append(random.randint(1500, 2500))
            elif outdoor_temp[i] >= 30 and (occupancy[i] < 200):
                airflow_rate.append(random.randint(1000, 2000))
            elif outdoor_temp[i] < 30 and occupancy[i] >= 400:
                airflow_rate.append(random.randint(1500, 2500))
            elif outdoor_temp[i] < 30 and (occupancy[i] >= 200 and occupancy[i] <400):
                airflow_rate.append(random.randint(1000, 2000))
            elif outdoor_temp[i] < 30 and (occupancy[i] < 200):
                airflow_rate.append(random.randint(500, 1500))
                
        return airflow_rate
        
    def get_fan_speed(indoor_temp, outdoor_temp):
        fan_speed =  []
        for i in range(len(indoor_temp)):
            temp_diff = abs(outdoor_temp[i] - indoor_temp[i])
            if temp_diff >= 10:
                fan_speed.append('High')
            elif temp_diff >= 5 and temp_diff < 10:
                fan_speed.append('Medium')
            elif temp_diff <5:
                fan_speed.append('Low')

        return fan_speed
        
    def get_air_filter(occupancy):
        if occupancy <= 200:
            return 'Low'
        elif occupancy > 200 and occupancy <= 300:
            return 'Medium'
        elif occupancy > 300:
            return 'High'
        
    def get_air_quality(air_filter):
        if air_filter == 'Low':
            return random.randint(200, 250)
        elif air_filter == 'Medium':
            return random.randint(250, 300)
        elif air_filter == 'High':
            return random.randint(300, 400)

    def get_power_consumption(air_filter, fan_speed):
        power = []
        for i in range(len(air_filter)):
            if air_filter[i] == 'Low' and fan_speed[i] == 'Low':
                power.append(random.randint(10, 20))
            elif air_filter[i] == 'Low' and fan_speed[i] == 'Medium':
                power.append(random.randint(15, 25))
            elif air_filter[i] == 'Low' and fan_speed[i] == 'High':
                power.append(random.randint(20, 30))
            elif air_filter[i] == 'Medium' and fan_speed[i] == 'Low':
                power.append(random.randint(20, 30))
            elif air_filter[i] == 'Medium' and fan_speed[i] == 'Medium':
                power.append(random.randint(25, 35))
            elif air_filter[i] == 'Medium' and fan_speed[i] == 'High':
                power.append(random.randint(30, 40))
            elif air_filter[i] == 'High' and fan_speed[i] == 'Low':
                power.append(random.randint(30, 40))
            elif air_filter[i] == 'High' and fan_speed[i] == 'Medium':
                power.append(random.randint(40, 55))
            elif air_filter[i] == 'High' and fan_speed[i] == 'High':
                power.append(random.randint(55, 90))

        return power
                
    locations = {'Mumbai': ['Paladium', 'Marketcity'], 'Bangalore' : ['Marketcity'], 'Pune': ['Marketcity'], 'Chennai': ['Paladium', 'Marketcity'], 'Lucknow': ['Palassio', 'United'], 'Bareilly': ['United']}
    for loc in locations.keys():
        for mall in locations[loc]:
            ## Date
            datelist = pd.date_range(start='2021-01-01', end = '2022-12-31').tolist()
            data = pd.DataFrame(datelist, columns=['Date'])
            data['Date']

            size = data.shape[0]

            ### Location
            data['Location'] = loc

            ### Mall
            data['Mall'] =  mall

            ## Month
            data['Month'] = data['Date'].apply(get_month)

            ### System ON and OFF Command
            data['On_Off_Cmd'] = 'ON'

            ### Mode(Auto/Manual) Status
            data['A/M_Status'] = random.choice(['Auto', 'Manual'], p = [0.6, 0.4], size = size)

            ### Trip Status
            data['Trip_Status'] = random.choice(['Normal', 'Trip'], p = [0.85, 0.15], size = size)
            
            ### Run Status
            #  Equal to the On Off Commnad
            data['Run_Status'] = random.choice(['ON', 'OFF'], p = [0.9, 0.1], size = size)
            
            ### Schedule Mode
            data['Schedule_Mode'] = data['Run_Status'].apply(filter_schedule)

            ### Time Schedule
            # If the system is scheduled, it can be only scheduled based on time
            data['Time_Schedule'] = data['Schedule_Mode']

            ## Weekend
            data['Is_Weekend'] =  data['Date'].apply(is_weekend)

            ## Season
            data['Season'] =  data['Date'].apply(get_season)

            ## Climate Prone
            data['Climate_Prone'] =  data['Location'].apply(climate_prone)

            ## Outdoor Temperature
            data['Outdoor_Temperature'] = get_outdoor_temp(data['Season'], data['Climate_Prone'])

            ## Indoor Temperature
            data['Indoor_Temperature'] = data['Outdoor_Temperature'].apply(get_indoor_temp)

            ## Occupancy
            data['Occupancy'] = data['Is_Weekend'].apply(occupancy)

            ## Air Flow Rate


            ## Fan Speed
            data['Fan_Speed'] = get_fan_speed(data['Indoor_Temperature'], data['Outdoor_Temperature'])

            ## Air Filter
            data['Air_Filter'] = data['Occupancy'].apply(get_air_filter)

            ## Air Quality
            data['Air_Quality_PPM'] = data['Air_Filter'].apply(get_air_quality)

            ## Power Consumption kwh
            data['Power_consumption_kwh'] = get_power_consumption(data['Air_Filter'], data['Fan_Speed'])

            data.to_csv(f'data/Fresh_Air_Unit/FAU_{loc}_{mall}_Assets.csv', index = False)

In [8]:
create_data_FAU()

In [32]:
random.randint(17, 25)

21

In [38]:
data['Date'][1].day_name()

'Saturday'

In [39]:
data['Date'][1]

Timestamp('2021-01-02 00:00:00')

In [ ]:
climate_prone = {'Mumbai' : 'Summer', 'Banglore' : 'Summer','Lucknow' : 'Winter','Bareilly' : 'Summer','Chennai': 'Summer', 'Pune': 'Summer'}

In [40]:
temperature_range = {'Winter': [15, 25], 'Monsoon': [15, 30], 'Winter': [25, 40]}

In [51]:
1000/1.699

588.5815185403178

In [52]:
5000/1.699

2942.9075927015892

In [1]:
import os

In [4]:
files = ['data/Fresh_Air_Unit/'+i for i in os.listdir('data/Fresh_Air_Unit/')]
main_df = []
for i in os.listdir('data/Fresh_Air_Unit'):
    data =  pd.read_csv(f'data/Fresh_Air_Unit/{i}')
    main_df.append(data)

fau_data = pd.concat(main_df)

In [5]:
fau_data.head()

,Date,Location,Mall,Month,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Is_Weekend,Season,Climate_Prone,Outdoor_Temperature,Indoor_Temperature,Occupancy,Fan_Speed,Air_Filter,Air_Quality_PPM,Power_consumption_kwh
0,2021-01-01,Bangalore,Marketcity,1,ON,Auto,Normal,OFF,Off,Off,0,Winter,Summer,21,21,259,Low,Medium,278,28
1,2021-01-02,Bangalore,Marketcity,1,ON,Auto,Normal,OFF,Off,Off,1,Winter,Summer,17,19,489,Low,High,322,32
2,2021-01-03,Bangalore,Marketcity,1,ON,Auto,Normal,OFF,Off,Off,1,Winter,Summer,25,23,399,Low,High,337,32
3,2021-01-04,Bangalore,Marketcity,1,ON,Auto,Normal,OFF,Off,Off,0,Winter,Summer,16,24,205,Medium,Medium,272,26
4,2021-01-05,Bangalore,Marketcity,1,ON,Auto,Normal,OFF,Off,Off,0,Winter,Summer,17,24,181,Medium,Low,211,18

In [6]:
fau_data.shape

(6570, 20)

In [7]:
fau_data['Location'].value_counts()

Chennai      1460
Lucknow      1460
Mumbai       1460
Bangalore     730
Bareilly      730
Pune          730
Name: Location, dtype: int64

In [8]:
fau_data.to_csv('data/DX_Unit/FAU_Data.csv', index=False)

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data/Fresh_Air_Unit/FAU_Pune_Marketcity_Assets.csv')

In [10]:
df.head()

,Date,Location,Mall,Month,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Is_Weekend,Season,Climate_Prone,Outdoor_Temperature,Indoor_Temperature,Occupancy,Fan_Speed,Air_Filter,Air_Quality_PPM,Power_consumption_kwh
0,2021-01-01,Pune,Marketcity,1,ON,Auto,Normal,ON,Off,Off,0,Winter,Summer,18,20,101,Low,Low,226,18
1,2021-01-02,Pune,Marketcity,1,ON,Auto,Normal,ON,Off,Off,1,Winter,Summer,16,18,303,Low,High,382,38
2,2021-01-03,Pune,Marketcity,1,ON,Auto,Normal,ON,Off,Off,1,Winter,Summer,28,21,387,Medium,High,357,50
3,2021-01-04,Pune,Marketcity,1,ON,Auto,Trip,OFF,Off,Off,0,Winter,Summer,26,21,147,Medium,Low,205,24
4,2021-01-05,Pune,Marketcity,1,ON,Auto,Normal,ON,Off,Off,0,Winter,Summer,27,23,129,Low,Low,225,16

In [12]:
df['Run_Status'].value_counts()

ON     646
OFF     84
Name: Run_Status, dtype: int64

In [13]:
df['Trip_Status'].value_counts()

Normal    635
Trip       95
Name: Trip_Status, dtype: int64