In [68]:
import pandas as pd
from numpy import random
import numpy as np
from datetime import datetime

### Date

In [69]:
datelist = pd.date_range(start='2021-12-10', periods=500).tolist()

In [70]:
data = pd.DataFrame(datelist, columns=['Date'])

In [71]:
data.head()

        Date
0 2021-12-10
1 2021-12-11
2 2021-12-12
3 2021-12-13
4 2021-12-14

### Location

In [72]:
1/8

0.125

In [73]:
## data['Location'] = random.choice(['Mumbai', 'Bangalore', 'Pune', 'Chennai', 'Lucknow', 'Bareilly', 'Agra', 'Indore'], p = [0.125 for i in range(8)], size=500)

In [74]:
## data.head()

### System ON and OFF Command

In [75]:
data['On_Off_Cmd'] = random.choice(['ON', 'OFF'], p = [0.8, 0.2], size=500)

In [76]:
data.head()

        Date On_Off_Cmd
0 2021-12-10         ON
1 2021-12-11         ON
2 2021-12-12         ON
3 2021-12-13         ON
4 2021-12-14         ON

### Mode(Auto/Manual) Status

In [77]:
data['A/M_Status'] = random.choice(['Auto', 'Manual'], p = [0.6, 0.4], size=500)

In [78]:
data.head()

        Date On_Off_Cmd A/M_Status
0 2021-12-10         ON       Auto
1 2021-12-11         ON     Manual
2 2021-12-12         ON       Auto
3 2021-12-13         ON     Manual
4 2021-12-14         ON     Manual

### Trip Status

In [79]:
data['Trip_Status'] = random.choice(['Normal', 'Trip'], p = [0.85, 0.15], size=500)

In [80]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status
0 2021-12-10         ON       Auto      Normal
1 2021-12-11         ON     Manual      Normal
2 2021-12-12         ON       Auto      Normal
3 2021-12-13         ON     Manual      Normal
4 2021-12-14         ON     Manual      Normal

### Run Status
-  Equal to the On Off Commnad

In [81]:
data['Run_Status'] = data['On_Off_Cmd']

In [82]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status Run_Status
0 2021-12-10         ON       Auto      Normal         ON
1 2021-12-11         ON     Manual      Normal         ON
2 2021-12-12         ON       Auto      Normal         ON
3 2021-12-13         ON     Manual      Normal         ON
4 2021-12-14         ON     Manual      Normal         ON

### Schedule Mode

In [83]:
def filter_schedule(run_status):
    if run_status == "ON":
        return random.choice(['Off', 'Scheduled'])
    else:
        return 'Off'

In [84]:
data['Schedule_Mode'] = data['Run_Status'].apply(filter_schedule)

In [85]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status Run_Status Schedule_Mode
0 2021-12-10         ON       Auto      Normal         ON           Off
1 2021-12-11         ON     Manual      Normal         ON           Off
2 2021-12-12         ON       Auto      Normal         ON     Scheduled
3 2021-12-13         ON     Manual      Normal         ON     Scheduled
4 2021-12-14         ON     Manual      Normal         ON           Off

### Time Schedule
- If the system is scheduled, it can be only scheduled based on time

In [86]:
data['Time_Schedule'] = data['Schedule_Mode']

In [87]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule
0,2021-12-10,ON,Auto,Normal,ON,Off,Off
1,2021-12-11,ON,Manual,Normal,ON,Off,Off
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled
4,2021-12-14,ON,Manual,Normal,ON,Off,Off

### DX Unit Type

In [88]:
data['Type'] = random.choice(['Window AC', 'Split System'], size=500)

In [89]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type
0,2021-12-10,ON,Auto,Normal,ON,Off,Off,Window AC
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC

### Space

In [90]:
data['Space'] = random.choice(['Small', 'Medium', 'Large'], size=500)

In [91]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space
0,2021-12-10,ON,Auto,Normal,ON,Off,Off,Window AC,Large
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System,Small
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC,Medium
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Medium

### Power Consumption

In [92]:
def power_consumption(run_status, type, space):
    power_c_list = []
    for i in range(len(type)):
        if run_status[i] == 'ON':
            if type[i] == 'Window AC' and space[i] == 'Small':
                power_c_list.append(round(random.uniform(0.5,0.8),1))
            elif type[i] == 'Window AC' and space[i] == 'Medium':
                power_c_list.append(round(random.uniform(0.9,1.5),1))
            elif type[i] == 'Window AC' and space[i] == 'Large':
                power_c_list.append(round(random.uniform(1.6,2.5),1))
            elif type[i] == 'Split System' and space[i] == 'Small':
                power_c_list.append(round(random.uniform(0.5,0.9),1))
            elif type[i] == 'Split System' and space[i] == 'Medium':
                power_c_list.append(round(random.uniform(1.0,1.7),1))
            elif type[i] == 'Split System' and space[i] == 'Large':
                power_c_list.append(round(random.uniform(1.8,2.5),1))
        else:
            power_c_list.append(0)

    return power_c_list

In [93]:
power_consumption_list = power_consumption(data['Run_Status'], data['Type'], data['Space'])

In [94]:
data['Power_Consumption_in_kwh'] = power_consumption_list

In [95]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh
0,2021-12-10,ON,Auto,Normal,ON,Off,Off,Window AC,Large,2.2
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.8
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System,Small,0.7
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC,Medium,1.2
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Medium,1.0

### Filter Status

In [96]:
data['Filter_Status'] = random.choice(['Clean', 'Dirty'], p = [0.8, 0.2], size=500)

In [97]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh,Filter_Status
0,2021-12-10,ON,Auto,Normal,ON,Off,Off,Window AC,Large,2.2,Dirty
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.8,Clean
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System,Small,0.7,Clean
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC,Medium,1.2,Dirty
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Medium,1.0,Clean

### Filter Status

In [98]:
data['Indoor_Temperature'] = random.randint(15, 28, size=500)

In [99]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh,Filter_Status,Indoor_Temperature
0,2021-12-10,ON,Auto,Normal,ON,Off,Off,Window AC,Large,2.2,Dirty,15
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.8,Clean,27
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System,Small,0.7,Clean,26
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC,Medium,1.2,Dirty,26
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Medium,1.0,Clean,27

### Airflow Rate in CFM

In [100]:
def airflow_rate(run_status, type, space):
    airflow_rate = []
    for i in range(len(type)):
        if run_status[i] == 'ON':
            if type[i] == 'Window AC' and space[i] == 'Small':
                airflow_rate.append(random.randint(100,250))
            elif type[i] == 'Window AC' and space[i] == 'Medium':
                airflow_rate.append(random.randint(251, 400))
            elif type[i] == 'Window AC' and space[i] == 'Large':
                airflow_rate.append(random.randint(400, 500))
            elif type[i] == 'Split System' and space[i] == 'Small':
                airflow_rate.append(random.randint(100, 300))
            elif type[i] == 'Split System' and space[i] == 'Medium':
                airflow_rate.append(random.randint(300, 400))
            elif type[i] == 'Split System' and space[i] == 'Large':
                airflow_rate.append(random.randint(400, 500))

        else:
            airflow_rate.append(0)
    return airflow_rate

In [101]:
airflow_rates = airflow_rate(data['Run_Status'], data['Type'], data['Space'])

In [102]:
data['Airflow_Rates_in_CFM'] = airflow_rates

In [106]:
data.head(10)

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh,Filter_Status,Indoor_Temperature,Airflow_Rates_in_CFM
0,2021-12-10,ON,Auto,Normal,ON,Off,Off,Window AC,Large,2.2,Dirty,15,422
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.8,Clean,27,485
2,2021-12-12,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System,Small,0.7,Clean,26,193
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC,Medium,1.2,Dirty,26,328
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Medium,1.0,Clean,27,366
5,2021-12-15,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Small,0.9,Dirty,15,208
6,2021-12-16,OFF,Auto,Normal,OFF,Off,Off,Split System,Medium,0.0,Clean,15,0
7,2021-12-17,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Small,0.5,Dirty,17,260
8,2021-12-18,ON,Auto,Normal,ON,Off,Off,Window AC,Medium,1.1,Clean,27,296
9,2021-12-19,ON,Auto,Normal,ON,Off,Off,Window AC,Large,1.8,Clean,16,410

In [105]:
data.to_csv('mall_asset_data1.csv')

In [ ]:
from powerbiclient import Report, models