In [3]:
import pandas as pd
from numpy import random
import numpy as np
from datetime import datetime

### Date

In [8]:
datelist = pd.date_range(start='2021-12-10', periods=500).tolist()

In [9]:
data = pd.DataFrame(datelist, columns=['Date'])

In [10]:
data.head()

        Date
0 2021-12-10
1 2021-12-11
2 2021-12-12
3 2021-12-13
4 2021-12-14

### Location

In [11]:
1/8

0.125

In [12]:
## data['Location'] = random.choice(['Mumbai', 'Bangalore', 'Pune', 'Chennai', 'Lucknow', 'Bareilly', 'Agra', 'Indore'], p = [0.125 for i in range(8)], size=500)

In [13]:
## data.head()

### System ON and OFF Command

In [14]:
data['On_Off_Cmd'] = random.choice(['ON', 'OFF'], p = [0.8, 0.2], size=500)

In [15]:
data.head()

        Date On_Off_Cmd
0 2021-12-10         ON
1 2021-12-11         ON
2 2021-12-12         ON
3 2021-12-13         ON
4 2021-12-14         ON

### Mode(Auto/Manual) Status

In [16]:
data['A/M_Status'] = random.choice(['Auto', 'Manual'], p = [0.6, 0.4], size=500)

In [17]:
data.head()

        Date On_Off_Cmd A/M_Status
0 2021-12-10         ON       Auto
1 2021-12-11         ON     Manual
2 2021-12-12         ON     Manual
3 2021-12-13         ON     Manual
4 2021-12-14         ON     Manual

### Trip Status

In [18]:
data['Trip_Status'] = random.choice(['Normal', 'Trip'], p = [0.85, 0.15], size=500)

In [19]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status
0 2021-12-10         ON       Auto      Normal
1 2021-12-11         ON     Manual      Normal
2 2021-12-12         ON     Manual      Normal
3 2021-12-13         ON     Manual      Normal
4 2021-12-14         ON     Manual      Normal

### Run Status
-  Equal to the On Off Commnad

In [20]:
data['Run_Status'] = data['On_Off_Cmd']

In [21]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status Run_Status
0 2021-12-10         ON       Auto      Normal         ON
1 2021-12-11         ON     Manual      Normal         ON
2 2021-12-12         ON     Manual      Normal         ON
3 2021-12-13         ON     Manual      Normal         ON
4 2021-12-14         ON     Manual      Normal         ON

### Schedule Mode

In [22]:
def filter_schedule(run_status):
    if run_status == "ON":
        return random.choice(['Off', 'Scheduled'])
    else:
        return 'Off'

In [23]:
data['Schedule_Mode'] = data['Run_Status'].apply(filter_schedule)

In [24]:
data.head()

        Date On_Off_Cmd A/M_Status Trip_Status Run_Status Schedule_Mode
0 2021-12-10         ON       Auto      Normal         ON     Scheduled
1 2021-12-11         ON     Manual      Normal         ON           Off
2 2021-12-12         ON     Manual      Normal         ON           Off
3 2021-12-13         ON     Manual      Normal         ON     Scheduled
4 2021-12-14         ON     Manual      Normal         ON           Off

### Time Schedule
- If the system is scheduled, it can be only scheduled based on time

In [25]:
data['Time_Schedule'] = data['Schedule_Mode']

In [26]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled
1,2021-12-11,ON,Manual,Normal,ON,Off,Off
2,2021-12-12,ON,Manual,Normal,ON,Off,Off
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled
4,2021-12-14,ON,Manual,Normal,ON,Off,Off

### DX Unit Type

In [27]:
data['Type'] = random.choice(['Window AC', 'Split System'], size=500)

In [28]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC
2,2021-12-12,ON,Manual,Normal,ON,Off,Off,Split System
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC

### Space

In [29]:
data['Space'] = random.choice(['Small', 'Medium', 'Large'], size=500)

In [30]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC,Small
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large
2,2021-12-12,ON,Manual,Normal,ON,Off,Off,Split System,Large
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Large
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Large

### Power Consumption

In [31]:
def power_consumption(run_status, type, space):
    power_c_list = []
    for i in range(len(type)):
        if run_status[i] == 'ON':
            if type[i] == 'Window AC' and space[i] == 'Small':
                power_c_list.append(round(random.uniform(0.5,0.8),1))
            elif type[i] == 'Window AC' and space[i] == 'Medium':
                power_c_list.append(round(random.uniform(0.9,1.5),1))
            elif type[i] == 'Window AC' and space[i] == 'Large':
                power_c_list.append(round(random.uniform(1.6,2.5),1))
            elif type[i] == 'Split System' and space[i] == 'Small':
                power_c_list.append(round(random.uniform(0.5,0.9),1))
            elif type[i] == 'Split System' and space[i] == 'Medium':
                power_c_list.append(round(random.uniform(1.0,1.7),1))
            elif type[i] == 'Split System' and space[i] == 'Large':
                power_c_list.append(round(random.uniform(1.8,2.5),1))
        else:
            power_c_list.append(0)

    return power_c_list

In [32]:
power_consumption_list = power_consumption(data['Run_Status'], data['Type'], data['Space'])

In [33]:
data['Power_Consumption_in_kwh'] = power_consumption_list

In [34]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC,Small,0.7
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,2.3
2,2021-12-12,ON,Manual,Normal,ON,Off,Off,Split System,Large,2.0
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Large,1.9
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.9

### Filter Status

In [35]:
data['Filter_Status'] = random.choice(['Clean', 'Dirty'], p = [0.8, 0.2], size=500)

In [36]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh,Filter_Status
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC,Small,0.7,Clean
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,2.3,Clean
2,2021-12-12,ON,Manual,Normal,ON,Off,Off,Split System,Large,2.0,Dirty
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Large,1.9,Clean
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.9,Dirty

### Filter Status

In [37]:
data['Indoor_Temperature'] = random.randint(15, 28, size=500)

In [38]:
data.head()

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh,Filter_Status,Indoor_Temperature
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC,Small,0.7,Clean,20
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,2.3,Clean,22
2,2021-12-12,ON,Manual,Normal,ON,Off,Off,Split System,Large,2.0,Dirty,21
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Large,1.9,Clean,27
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.9,Dirty,26

### Airflow Rate in CFM

In [39]:
def airflow_rate(run_status, type, space):
    airflow_rate = []
    for i in range(len(type)):
        if run_status[i] == 'ON':
            if type[i] == 'Window AC' and space[i] == 'Small':
                airflow_rate.append(random.randint(100,250))
            elif type[i] == 'Window AC' and space[i] == 'Medium':
                airflow_rate.append(random.randint(251, 400))
            elif type[i] == 'Window AC' and space[i] == 'Large':
                airflow_rate.append(random.randint(400, 500))
            elif type[i] == 'Split System' and space[i] == 'Small':
                airflow_rate.append(random.randint(100, 300))
            elif type[i] == 'Split System' and space[i] == 'Medium':
                airflow_rate.append(random.randint(300, 400))
            elif type[i] == 'Split System' and space[i] == 'Large':
                airflow_rate.append(random.randint(400, 500))

        else:
            airflow_rate.append(0)
    return airflow_rate

In [40]:
airflow_rates = airflow_rate(data['Run_Status'], data['Type'], data['Space'])

In [41]:
data['Airflow_Rates_in_CFM'] = airflow_rates

In [42]:
data.head(10)

,Date,On_Off_Cmd,A/M_Status,Trip_Status,Run_Status,Schedule_Mode,Time_Schedule,Type,Space,Power_Consumption_in_kwh,Filter_Status,Indoor_Temperature,Airflow_Rates_in_CFM
0,2021-12-10,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC,Small,0.7,Clean,20,102
1,2021-12-11,ON,Manual,Normal,ON,Off,Off,Window AC,Large,2.3,Clean,22,403
2,2021-12-12,ON,Manual,Normal,ON,Off,Off,Split System,Large,2.0,Dirty,21,426
3,2021-12-13,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Large,1.9,Clean,27,493
4,2021-12-14,ON,Manual,Normal,ON,Off,Off,Window AC,Large,1.9,Dirty,26,490
5,2021-12-15,OFF,Manual,Normal,OFF,Off,Off,Window AC,Small,0.0,Clean,20,0
6,2021-12-16,ON,Auto,Normal,ON,Scheduled,Scheduled,Window AC,Medium,1.4,Clean,17,360
7,2021-12-17,ON,Manual,Normal,ON,Scheduled,Scheduled,Split System,Medium,1.1,Clean,25,336
8,2021-12-18,ON,Manual,Normal,ON,Scheduled,Scheduled,Window AC,Small,0.7,Clean,20,107
9,2021-12-19,ON,Auto,Normal,ON,Scheduled,Scheduled,Split System,Small,0.7,Clean,25,146

In [43]:
data.to_csv('mall_asset_data2.csv', index=False)

In [4]:
def create_data_dxunit():

    def trip_status(run_status):
        if run_status == 'On':
            return random.choice(['Normal', 'Trip'], p = [0.8, 0.2])
        else:
            return 'Normal'

    def filter_schedule(run_status):
        if run_status == "On":
            return random.choice(['Off', 'Scheduled'])
        else:
            return 'Off'
        
    def power_consumption(run_status):
            if run_status == 'On':
                return round(random.uniform(1.8,2.5),1)
            else:
                return 0
    
    def airflow_rate(run_status):
        if run_status == 'On':
                return random.randint(350, 500)
        else:
            return 0
    
    locations = {'Mumbai': ['Paladium', 'Marketcity'], 'Bangalore' : ['Marketcity'], 'Pune': ['Marketcity'], 'Chennai': ['Paladium', 'Marketcity'], 'Lucknow': ['Palassio', 'United'], 'Bareilly': ['United']}
    for loc in locations.keys():
        for mall in locations[loc]:

            datelist = pd.date_range(start='2021-01-01', end = '2022-12-31').tolist()
            data = pd.DataFrame(datelist, columns=['Date'])
            data_size = data.shape[0]
            
            ### Location
            data['Location'] = loc

            ### Mall
            data['Mall'] =  mall

            ### System ON and OFF Command
            data['On_Off_Cmd'] = 'On'

            ### Mode(Auto/Manual) Status
            data['A/M_Status'] = random.choice(['Auto', 'Manual'], p = [0.6, 0.4], size=data_size)

            ### Run Status
            data['Run_Status'] = random.choice(['On', 'Off'], p = [0.95, 0.05], size=data_size)
            
            ### Trip Status
            data['Trip_Status'] = data['Run_Status'].apply(trip_status)
            
            ### Schedule Mode
            data['Schedule_Mode'] = data['Run_Status'].apply(filter_schedule)
            
            ### Time Schedule
            # If the system is scheduled, it can be only scheduled based on time
            data['Time_Schedule'] = data['Schedule_Mode']

            ### Power Consumption
            data['Power_Consumption_in_kwh'] = data['Run_Status'].apply(power_consumption)
            
            ### Filter Status
            data['Filter_Status'] = random.choice(['Clean', 'Dirty'], p = [0.8, 0.2], size=data_size)
            
            ### Filter Status
            data['Indoor_Temperature'] = random.randint(15, 28, size=data_size)
            
            ### Airflow Rate in CFM
            data['Airflow_Rates_in_CFM'] = data['Run_Status'].apply(airflow_rate)
            
            data.to_csv(f'data/DX_Unit/{loc}_{mall}_Assets.csv', index = False)

In [5]:
create_data_dxunit()

In [48]:
locations = {'Mumbai': {'Paladium':4, 'Marketcity':4}, 'Bangalore' : {'Marketcity':4}, 'Pune': {'Marketcity':5}, 'Chennai': {'Paladium':3, 'Marketcity':4}, 'Lucknow': {'Palassio':4, 'United':5}, 'Bareilly': {'United':4}}

In [49]:
locations.keys()

dict_keys(['Mumbai', 'Bangalore', 'Pune', 'Chennai', 'Lucknow', 'Bareilly'])

In [51]:
locations['Mumbai'].keys()

dict_keys(['Paladium', 'Marketcity'])

In [14]:
import os

In [15]:
files = ['data/DX_Unit/'+i for i in os.listdir('data/DX_Unit/')]
main_df = []
for i in os.listdir('data/DX_Unit'):
    data =  pd.read_csv(f'data/DX_Unit/{i}')
    main_df.append(data)

dx_unit_data = pd.concat(main_df)

In [16]:
dx_unit_data.head()

,Date,Location,Mall,On_Off_Cmd,A/M_Status,Run_Status,Trip_Status,Schedule_Mode,Time_Schedule,Power_Consumption_in_kwh,...,Month,Is_Weekend,Season,Climate_Prone,Outdoor_Temperature,Occupancy,Fan_Speed,Air_Filter,Air_Quality_PPM,Power_consumption_kwh
0,2021-01-01,Bangalore,Marketcity,On,Auto,On,Normal,Scheduled,Scheduled,2.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,Bangalore,Marketcity,On,Auto,Off,Normal,Off,Off,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,Bangalore,Marketcity,On,Auto,On,Trip,Off,Off,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,Bangalore,Marketcity,On,Auto,On,Normal,Off,Off,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-05,Bangalore,Marketcity,On,Auto,On,Normal,Scheduled,Scheduled,2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
dx_unit_data.shape

(19710, 23)

In [18]:
dx_unit_data['Location'].value_counts()

Chennai      4380
Lucknow      4380
Mumbai       4380
Bangalore    2190
Bareilly     2190
Pune         2190
Name: Location, dtype: int64

In [19]:
dx_unit_data.to_csv('data/DX_Unit/DXU_Data.csv', index=False)

In [20]:
df = pd.read_csv('data/DX_Unit/Mumbai_Marketcity_Assets.csv')

In [21]:
df.head()

,Date,Location,Mall,On_Off_Cmd,A/M_Status,Run_Status,Trip_Status,Schedule_Mode,Time_Schedule,Power_Consumption_in_kwh,Filter_Status,Indoor_Temperature,Airflow_Rates_in_CFM
0,2021-01-01,Mumbai,Marketcity,On,Auto,Off,Normal,Off,Off,0.0,Clean,15,0
1,2021-01-02,Mumbai,Marketcity,On,Auto,On,Normal,Scheduled,Scheduled,1.8,Clean,27,400
2,2021-01-03,Mumbai,Marketcity,On,Auto,On,Normal,Scheduled,Scheduled,2.0,Dirty,15,367
3,2021-01-04,Mumbai,Marketcity,On,Auto,Off,Normal,Off,Off,0.0,Clean,17,0
4,2021-01-05,Mumbai,Marketcity,On,Manual,On,Normal,Off,Off,2.2,Clean,19,397

In [22]:
df['Run_Status'].value_counts()

On     709
Off     21
Name: Run_Status, dtype: int64